.rc-tree .rc-tree-treenode.root {
    margin-top: 2rem;
    padding:0.25rem;
}
.rc-tree .rc-tree-treenode.root:hover {

    background-color: #eee;
}
.action-btn {
    background-color: transparent;
    transition: background-color 0.3s;
}
.tree-title {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    min-width: 15rem;
    column-gap: 0.5rem;
}
.tree-title:hover .menu-action {
    visibility: visible;
}

.menu-action {
    position: 'absolute';
    right: 0;
    visibility: hidden;
    transition: visibility 0.1s;
}

.action-btn:hover {
    background-color: #eee;
    
    
}