.profile {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}
.profile:after{
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    border-top: 10px solid #aca0a0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid transparent;
}

.profile:before {
    content: "";
    position: absolute;
    right: 0;
    top: -8px;
    border-bottom: 10px solid #aca0a0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid transparent;
}

.profile .chevron-down {
    display: none;
}