
    .result {
        padding:0.5rem;
        border-radius: 0.25rem;
        cursor: pointer;
        &:hover, &:active {
            background-color: #2383e247;
        }
        .title {
            display: flex;
            column-gap: 1rem;
            margin-bottom: 0.5rem;
            font-size: 0.875rem;
        }
        .content {
            font-size: 0.75rem;
            padding-left: 2rem;
        }
        .highlight {
            font-size: 1.25em;
        }
    
    }
